<a href="#" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#problem">
  Report problems
</a>

<%= link_to 'Reject', match_path(@match),
            data: { turbo_confirm: 'This will delete the match and free all any articles to be re-matched',
                    turbo_method: :delete },
            class: 'btn btn-danger'
%>
<button type="submit" name="status" value="" class="btn btn-success">
  Save
</button>
<button type="submit" name="status" value="complete" class="btn btn-success">
  Complete
</button>