<a href="#" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#problem">
  Report problems
</a>

<%= link_to 'Review Pass', review_pass_url(id: match.id), class: 'btn btn-success' %>

<%= link_to 'Review Fail', review_fail_url(id: match.id), class: 'btn btn-danger' %>
