<a href="#" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#problem">
  Report problems
</a>

<%= link_to 'Review Pass', review_pass_url(id: match.id), class: 'btn btn-success' %>

<%#= link_to 'Review Fail', review_mark_failure_url(id: match.id), class: 'btn btn-danger' %>

<a href="#" class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#mark-failed">
  Review Fail
</a>
