<div class="bg-white border-start border-end border-bottom border-1 p-3 mb-3 tab-pane fade show" id="variants" role="tabpanel">
  <% variants = Variant.new(match.id) %>

  <% if variants.has_variants? %>
    <% col_count = (variants.keys - variants.skip_fields) %>
    <table class="table table-sm table-consolidate">
      <thead>
      <tr>
        <% (variants.keys - variants.skip_fields).each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% variants.rows.each do |rec| %>
        <tr>
          <% (variants.keys - variants.skip_fields).each do |k| %>
            <td><%= rec[k] %></td>
          <% end %>

          <td>
            <div class="d-flex gap-1">
              <button class="btn btn-outline-primary btn-sm var_plus">+</button>
              <button class="btn btn-outline-primary btn-sm var_plus_one">+1</button>
              <%= text_field_tag "variants[][#{rec['MATNR']}]", nil, class: 'flex-grow position' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>

      <!--      <tfoot>-->
      <%# (variants.keys - variants.skip_fields).each do |k| %>
      <!--        <tr>-->
      <!--          <td><%#= k %></td>-->
      <!--        </tr>-->
      <%# end %>
      <!--      </tfoot>-->
    </table>
  <% end %>
</div>
