<section class="header container-fluid mt-4">
  <h2>Consolidation</h2>
</section>

<section class="container-fluid">
  <ul class="nav nav-tabs" id="consolidator-nav-tabs" role="tablist">
    <li>
      <a class="nav-link" href="#incomplete" data-bs-toggle="tab" data-bs-target="#incomplete">Incomplete</a>
    </li>
    <li>
      <a class="nav-link" href="#complete" data-bs-toggle="tab" data-bs-target="#complete">Complete</a>
    </li>
    <li>
      <a class="nav-link" href="#error" data-bs-toggle="tab" data-bs-target="#error">Specialist Review</a>
    </li>
  </ul>

  <div id="nav-tab-content" class="tab-content border-1 border-start border-end border-bottom bg-white">
    <%= render 'incomplete' %>

    <%= render 'complete' %>

    <%= render 'error' %>
  </div>

</section>
